* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: #fff7ed;
  font-family: "Futura", sans-serif;
}

a {
  text-decoration: unset;
  color: unset;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

header {
  display: flex;
}

/* .photo-container {
  min-width: 500px;
  height: 500px;
  display: flex;
  overflow: auto;
  gap: 20px;
  padding: 20px;
} */


.span-container {
  display: flex;
  height: 200px;
  align-items: center;
  justify-content: center;
  outline: 1px solid black;
}

.photo-section {
  position: relative;
  height: 300vh;
}

.photos-container {
  position: sticky;
  top: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.card-container {
  display: flex;
  gap: 4rem;
}

.photo {
  height: 500px;
  width: 500px;
  background-color: aquamarine;
}